[mysql]

# CLIENT #
port                           = 3306
socket                         = /var/lib/mysql/mysql.sock

[mysqld]


# GENERAL #
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
# JIRA and Confluence have issue with binlog format, require specific utf8 settings
binlog_format=row
character-set-server=utf8
collation-server=utf8_bin
# default-character-set = utf8 -> deprecated and client side only, see https://tinyurl.com/l23rcuw

# MyISAM #
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
innodb                         = FORCE

# DATA STORAGE #
datadir                        = /var/lib/mysql/

# BINARY LOGGING #
log-bin                        = /var/lib/mysql/mysql-bin
expire_logs_days               = {{ zanata_mysql_binlog_days }}
max_binlog_size                = {{ zanata_mysql_binlog_size }}
sync-binlog                    = 1

# CACHES AND LIMITS #
tmp-table-size                 = 256M
max-heap-table-size            = 32M
query-cache-size               = 32M
# Duck: disabling these settings
#       max-connections is too low and the other restrictions should not be needed
#max-connections                = 32
#thread-cache-size              = 128
#open-files-limit               = 128
#table-definition-cache         = 512
#table-open-cache               = 128
#max_allowed_packet             = 1000M

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 5M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = {{ zanata_innodb_buffer_pool_size }}

# LOGGING #
log-queries-not-using-indexes  = 1
slow-query-log                 = 1
slow-query-log-file            = /var/lib/mysql/mysql-slow.log

# to work around table name case problem
# Duck: not sure where it originates but maybe upstream as there's a
#       script to fix this:
#         https://github.com/zanata/zanata-scripts/blob/master/zanataTablesFixCase.groovy
#       As this is only for maintenance purpose, I'm keeping this
#       workaround to avoid problems and increasing migration time
lower_case_table_names = 1

