connect
batch

# System properties
/system-property=javamelody.storage-directory/:add(value=${user.home}/zanata/stats)

# Bind JNDI variables
/subsystem=naming/binding=java\:global\/zanata\/files\/document-storage-directory:add(value="${user.home}\/zanata/document-storage",binding-type=simple)
/subsystem=naming/binding=java\:global\/zanata\/security\/auth-policy-names\/internal:add(value="zanata.internal",binding-type=simple)
/subsystem=naming/binding=java\:global\/zanata\/security\/admin-users:add(value="admin",binding-type=simple)
/subsystem=naming/binding=java\:global\/zanata\/email\/default-from-address:add(value="{{ zanata_noreply_address }}",binding-type=simple)

# Add datasource
/subsystem=datasources/data-source=zanataDatasource/:add(jndi-name=java:jboss/datasources/zanataDatasource,driver-name=mysql-connector-java.jar,connection-url="jdbc:mysql://localhost:3306/zanata?characterEncoding=UTF-8",driver-class=com.mysql.jdbc.Driver,max-pool-size=20,enabled=true,track-statements=NOWARN,flush-strategy=FailingConnectionOnly,user-name={{ zanata_database_username }},password={{ zanata_database_password }},use-ccm=false,min-pool-size=0)

# Security settings
# Zanata Central login module
/subsystem=security/security-domain=zanata/:add
/subsystem=security/security-domain=zanata/authentication=classic:add( \
    login-modules=[ \
        { \
            "code" => "org.zanata.security.ZanataCentralLoginModule", \
            "flag" => "required" \
        } \
    ] \
)

# Internal authentication module
/subsystem=security/security-domain=zanata.internal/:add
/subsystem=security/security-domain=zanata.internal/authentication=classic:add( \
    login-modules=[ \
        { \
            "code" => "org.zanata.security.jaas.InternalLoginModule", \
            "flag" => "required" \
        } \
    ] \
)



# Execute and reload
run-batch
:reload
